/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

/* modules */
@import "~simplebar/dist/simplebar.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    overflow: hidden;
}

.townland {
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.simplebar-track.simplebar-vertical {
    width: 14px !important;
    left: 2px;
}

.simplebar-scrollbar:before {
    border: 2px solid #111827 !important;
    background-color: rgba(255, 255, 255, 0.5) !important;
    box-shadow: -2px 2px #111827;
    backdrop-filter: blur(10px);
}

.simplebar-scrollbar.simplebar-visible:before {
    opacity: 0.8 !important;
}
